*, *:after, *:before {
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  color: #60606e;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none;
  color: #60606e; }

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 30px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.header {
  width: 100%;
  position: relative; }

.logo {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }
  .menu__link {
    display: block;
    text-transform: uppercase;
    text-decoration: none; }

.nav {
  background-color: transparent; }
  .nav__wrap {
    padding-top: 32px;
    width: 100%;
    overflow: hidden;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.top-menu {
  position: relative;
  max-width: 85%;
  width: 85%;
  padding: 8px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .top-menu__link {
    color: #60606e; }
  .top-menu__li {
    line-height: 50px;
    white-space: nowrap;
    font-weight: 700; }
  .top-menu__list {
    transition: all 0.3s;
    transform: translateX(150%);
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 60px;
    top: 8px;
    background: transparent;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .top-menu__list-active {
    transform: translateX(0%); }
  .top-menu__blockicon {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #fff; }
  .top-menu__icon {
    display: block;
    margin-left: 10px;
    width: 15px;
    height: 1px;
    background-color: #60606e; }
    .top-menu__icon:after {
      transition: all .3s;
      content: '';
      display: block;
      width: 23px;
      height: 1px;
      margin-top: 12px;
      background-color: #60606e; }
    .top-menu__icon:before {
      transition: all .3s;
      content: '';
      display: block;
      width: 31px;
      height: 1px;
      margin-top: -6px;
      background-color: #60606e; }
  .top-menu__icon-active {
    height: 0; }
    .top-menu__icon-active:after {
      transition: all .3s;
      margin: 0;
      width: 30px;
      height: 2px;
      transform: rotate(135deg);
      margin-top: -2px; }
    .top-menu__icon-active:before {
      transition: all .3s;
      margin: 0;
      width: 30px;
      height: 2px;
      transform: rotate(-135deg); }

.section {
  text-align: center; }
  .section__titleblock {
    width: 100%;
    margin: 0 auto;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section__subtitle {
    display: block;
    margin: 0 auto;
    max-width: 717px; }
  .section__title {
    margin: 0;
    margin-bottom: 29px;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    display: inline-block; }
    .section__title:after {
      content: '';
      display: block;
      width: 68px;
      height: 21px;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1;
      background-color: #7beec7; }

.newsletter {
  width: 100%;
  background-color: #7beec7; }
  .newsletter__wrap {
    padding-top: 50px; }
  .newsletter__blocktitle {
    display: inline-block;
    vertical-align: top;
    max-width: 490px;
    width: 45%; }
  .newsletter__title {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 29px;
    text-transform: uppercase; }
  .newsletter__btn {
    background-color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 22px 32px 18px;
    margin-bottom: 25px;
    color: #7beec7; }
  .newsletter__formitem {
    display: inline-block;
    max-width: 560px;
    width: 51%;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 20px 25px; }
  .newsletter__formtitle {
    margin: 0;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }
  .newsletter__formsubtitle {
    font-size: 16px;
    font-weight: 400;
    color: #999999; }
  .newsletter__form {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 29px auto 0; }
    .newsletter__form-email {
      display: block;
      width: 80%;
      height: 50px;
      max-height: 50px;
      color: #cdcdcd;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-right: none;
      margin: 0;
      padding-left: 20px;
      opacity: 0.5; }
    .newsletter__form-submit {
      display: block;
      height: 50px;
      max-height: 50px;
      background-color: #7beec7;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      border: none;
      padding: 15px 45px;
      margin: 0; }

.btn {
  text-transform: uppercase;
  border: none; }

.btn-read {
  color: #fff;
  font-size: 14px;
  background-color: #7beec7; }

.footer {
  width: 100%;
  height: 120px; }
  .footer__inner {
    margin-top: 50px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
  .footer__menu {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row; }
  .footer__item {
    text-align: right;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .footer__copyrate {
    display: inline-block;
    text-transform: uppercase;
    color: #9a9a9a;
    margin-bottom: 29px; }
  .footer__social {
    display: inline-block;
    width: 175px;
    height: 16px; }
  .footer__link {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    margin-right: 18px;
    position: relative;
    white-space: nowrap;
    color: #9a9a9a; }
  .footer__after {
    padding-right: 19px; }
    .footer__after:after {
      content: '';
      display: inline-block;
      width: 4px;
      height: 1px;
      background-color: #60606e;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }

.homepage__header {
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }

.hero {
  width: 100%; }
  .hero__wrap {
    width: 100%; }
  .hero__blocktitle {
    margin: 0 auto;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column; }
  .hero__item {
    margin: 0 auto;
    margin-top: 160px;
    background-color: #7beec7;
    padding: 10px 21px 7px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: block; }
  .hero__title {
    margin: 0 auto;
    display: block;
    border: 10px solid #60606e;
    padding: 22px 35px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
    white-space: nowrap; }
  .hero__subtitle {
    margin: 0 auto;
    display: block;
    font-size: 16px;
    max-width: 537px;
    text-align: center; }

.portfolio__title {
  margin-top: 150px; }

.portfolio__subtitle {
  margin-bottom: 100px; }

.portfolio__content {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row; }

.history {
  display: block;
  width: 100%; }
  .history__wrap {
    margin: auto;
    margin-top: 155px;
    width: 100%; }
  .history__item {
    margin-right: 5%;
    max-width: 458px;
    width: 45%;
    float: left;
    display: inline-block; }
  .history__img {
    width: 100%;
    height: 100%; }
  .history__content {
    display: inline-block;
    max-width: 300px;
    width: 45%;
    margin: auto;
    max-width: 558px; }
  .history__title {
    margin: 29px 0 28px 0;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #60606e;
    position: relative;
    z-index: 1; }
    .history__title:before {
      content: '';
      display: block;
      width: 67px;
      height: 21px;
      background-color: #7beec7;
      position: absolute;
      bottom: -4px;
      left: 0;
      z-index: -1; }
  .history__text {
    font-size: 16px;
    line-height: 30px; }
  .history__btn {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end; }
  .history__button {
    font-weight: 700;
    padding: 20px 39px 19px; }

.category {
  width: 100%;
  max-width: 200px;
  text-align: left;
  margin-top: 15px; }
  .category__title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase; }
  .category__listbtn {
    border: none;
    background-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Montserrat; }
    .category__listbtn:focus {
      outline: none; }
  .category__list {
    margin: 0;
    padding: 0;
    list-style: none; }
    .category__list-active {
      background-color: #7beec7;
      padding: 10px 20px;
      color: #ffffff;
      margin-left: -20px; }
  .category__li {
    text-align: left;
    margin-bottom: 25px; }
  .category__content {
    width: 100%;
    max-width: 940px;
    max-height: 1200px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden; }
  .category__item {
    margin: 15px; }
    .category__item:nth-child(3n+1) {
      order: 1; }
    .category__item:nth-child(3n+2) {
      order: 2; }
    .category__item:nth-child(3n) {
      order: 3; }

.whychoose {
  width: 100%;
  margin: 0 auto; }
  .whychoose__row {
    width: 100%;
    margin: 0 auto; }
  .whychoose__title {
    margin: 120px auto 20px; }
  .whychoose__content {
    width: 100%;
    margin-top: 100px;
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap-reverse; }
  .whychoose__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #999999; }
  .whychoose__li {
    margin-bottom: 15px; }
  .whychoose__itemimg {
    margin: 0 auto;
    margin-bottom: 20px; }
  .whychoose__item {
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
    width: 100%;
    display: inline-block; }
    .whychoose__item:last-child {
      margin-left: 70px; }
  .whychoose__itemtitle {
    margin: 0;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; }
  .whychoose__list {
    margin-top: 0;
    list-style: none;
    margin-bottom: 60px;
    display: inline-block;
    padding-left: 0; }
    .whychoose__list:nth-child(odd) {
      margin-right: 80px;
      margin-left: 45px; }
  .whychoose__before1:before {
    content: url("../img/whychoose-icon1.png");
    display: block;
    width: 28px;
    height: 28px;
    margin-bottom: 21px; }
  .whychoose__before2:before {
    content: url("../img/whychoose-icon2.png");
    display: block;
    width: 28px;
    height: 28px;
    margin-bottom: 19px; }
  .whychoose__before3 {
    margin-right: 60px; }
    .whychoose__before3:before {
      content: url("../img/whychoose-icon3.png");
      display: block;
      width: 28px;
      height: 28px;
      margin-bottom: 19px; }
  .whychoose__before4:before {
    content: url("../img/whychoose-icon4.png");
    display: block;
    width: 28px;
    height: 28px;
    margin-bottom: 21px; }

.page-header {
  height: 500px;
  background-image: url("../img/page-bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

.page-hero {
  width: 100%; }
  .page-hero__wrap {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px; }
  .page-hero__titleblock {
    text-align: center; }
  .page-hero__title {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    margin: 0; }
  .page-hero__subtitle {
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase; }

.about__blocks {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row; }

.about__item {
  max-width: 555px;
  width: 48%; }
  .about__item:first-child {
    margin-right: 4%; }

.about__title {
  display: block;
  margin: 150px auto 29px; }

.about__subtitle {
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 30px; }

.about__text {
  display: block;
  margin-bottom: 150px;
  line-height: 30px; }

.benefits__content {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; }

.benefits__item {
  text-align: left;
  width: 33.33%;
  max-width: 360px;
  margin-bottom: 50px; }
  .benefits__item-text {
    display: block;
    line-height: 30px;
    width: 90%; }
  .benefits__item-title {
    margin: 0;
    margin-bottom: 30px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; }
    .benefits__item-title:before {
      margin-right: 20px; }
  .benefits__item-before1:before {
    content: url("../img/benefits__icon1.png");
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #7beec7;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .benefits__item-before2:before {
    content: url("../img/benefits__icon2.png");
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #7beec7;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .benefits__item-before3:before {
    content: url("../img/benefits__icon3.png");
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #7beec7;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .benefits__item-before4:before {
    content: url("../img/benefits__icon4.png");
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #7beec7;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .benefits__item-before5:before {
    content: url("../img/benefits__icon5.png");
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #7beec7;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .benefits__item-before6:before {
    content: url("../img/benefits__icon6.png");
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #7beec7;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.dteam {
  width: 100%; }
  .dteam__title {
    margin-top: 150px; }
  .dteam__content {
    margin-top: 100px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .dteam__imgblock {
    width: 25%;
    max-width: 263px;
    margin-bottom: 15px; }
    .dteam__imgblock img {
      width: 100%;
      height: 100%; }

.aboutbar {
  width: 100%;
  padding: 50px 30px;
  background-color: #efeff0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .aboutbar__text {
    width: 80%;
    display: block;
    font-style: italic;
    font-size: 18px; }
  .aboutbar__btn {
    display: block;
    white-space: nowrap;
    padding: 21px 38px 18px 40px;
    font-weight: 700; }

.aboutclients {
  width: 50%;
  display: inline-block;
  vertical-align: top; }
  .aboutclients__row {
    margin: 150px 0;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .aboutclients__item {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 33.33%;
    max-width: 165px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px; }

.testimonials {
  display: inline-block;
  width: 49%;
  text-align: center; }
  .testimonials__dots {
    margin-top: 30px;
    list-style: none;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0; }
    .testimonials__dots button {
      display: none; }
    .testimonials__dots li {
      width: 16px;
      height: 5px;
      margin: 2.5px;
      background-color: #60606e; }
      .testimonials__dots li.slick-active {
        width: 31px;
        background-color: #7beec7; }
  .testimonials__row {
    margin: 150px 0; }
  .testimonials__text {
    max-width: 551px;
    width: 90%;
    margin: 27px auto;
    display: block;
    line-height: 30px; }
  .testimonials__btn {
    padding: 9px 11px;
    font-weight: 700;
    color: #fff;
    background-color: #7beec7; }
  .testimonials__avatar {
    margin: 0 auto;
    border-radius: 50%;
    width: 83px;
    height: 82px; }
    .testimonials__avatar img {
      width: 100%;
      height: 100%; }

.testimonialsNClients {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.contacts__item {
  width: 47%;
  margin-right: 30px; }

.contacts__wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 150px; }

.contacts__object {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 30px; }

.contacts__message {
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-top: 50px; }

.contacts__input {
  border: 1px solid rgba(0, 0, 0, 0.1); }

.contacts__input[placeholder] {
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  height: 49px;
  opacity: 1;
  transition: opacity .3s ease; }

.contacts__name {
  width: 47%;
  margin-right: 24px;
  padding: 20px; }

.contacts__email {
  width: 47.5%;
  padding: 20px; }

.contacts__submit {
  display: block;
  margin-top: 50px;
  padding: 20px 61px;
  background-color: #7beec7;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff; }

.contacts__map {
  width: 47%;
  height: 715px;
  border: 2px solid #ccc; }

.contacts__title {
  margin: 100px auto 30px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.contacts__subtitle {
  color: #999;
  line-height: 30px; }

.contacts__social {
  display: block;
  margin-bottom: 150px; }

.contacts__text {
  display: block;
  margin: 30px auto;
  line-height: 30px;
  color: #999; }
  .contacts__text b {
    display: block;
    font-weight: 700; }

.option__wrap {
  margin: 150px auto; }

.option__content {
  width: 100%;
  margin-top: 100px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse; }

.option__item {
  width: 45%;
  display: inline-block; }
  .option__item img {
    width: 100%;
    height: 100%; }

.option__text {
  line-height: 30px;
  text-align: left;
  margin: 0; }

.option__listblock {
  width: 100%;
  margin: 25px 5px 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; }

.option__list {
  padding: 0;
  width: 45%;
  list-style: none;
  text-align: left; }

.option__li {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  line-height: 30px; }
  .option__li:before {
    content: url("../img/option__icon.png");
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 10px; }

.optionbenefits__row {
  margin: 150px auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.optionbenefits__item {
  width: 23%;
  text-align: center;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column; }

.optionbenefits__imgblock {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  position: relative; }
  .optionbenefits__imgblock:before {
    content: '';
    display: block;
    width: 50px;
    height: 20px;
    background-color: #7beec7;
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index: -1; }

.optionbenefits__imgblock2 {
  height: 25px;
  margin-top: 25px; }
  .optionbenefits__imgblock2:before {
    bottom: -10px; }

.optionbenefits__text {
  display: block;
  line-height: 30px;
  padding: 0 15px; }

.optionbenefits__title {
  display: block;
  margin: 30px auto 20px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

@media screen and (max-width: 1024px) {
  .contacts__name {
    width: 100%;
    margin-bottom: 30px; }
  .contacts__email {
    width: 100%; }
  .newsletter__wrap {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .newsletter__blocktitle {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: center; }
  .newsletter__formitem {
    width: 100%;
    max-width: 85%; } }

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
    width: 90%; }
  .option__content {
    flex-direction: column-reverse;
    margin-top: 60px; }
  .option__item {
    width: 80%;
    margin: 15px auto; }
    .option__item img {
      height: auto; }
  .optionbenefits__item {
    width: 50%; }
    .optionbenefits__item:nth-child(odd) {
      margin-bottom: 50px; }
  .dteam__content {
    justify-content: space-around; }
  .dteam__imgblock {
    width: 49.5%;
    margin-bottom: 35px; }
  .aboutclients__item {
    width: 49.5%;
    margin-bottom: 10px; }
  .benefits__item {
    width: 49.5%; }
  .footer__menu {
    width: 100%; }
  .footer__inner {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px; }
  .footer__item {
    width: 100%;
    text-align: left;
    display: block;
    vertical-align: top;
    margin-top: 25px; }
    .footer__item:before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #9a9a9a;
      margin-bottom: 15px; }
  .footer__social {
    margin-left: 170px; } }

@media screen and (max-width: 425px) {
  .contaimer {
    width: 100%;
    padding: 0 10px; } }

@media screen and (max-width: 320px) {
  .contaimer {
    width: 100%; } }
