@import '_basic-settings.sass'
@import '_slick.scss'

//------------------------Common-------------------------------------------------------------
.header
	width: 100%
	position: relative

.logo
	font-size: 18px
	font-weight: 700
	text-transform: uppercase

.menu
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	&__link
		display: block
		text-transform: uppercase
		text-decoration: none

.nav
	background-color: transparent 
	&__wrap
		padding-top: 32px
		width: 100%
		overflow: hidden
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
		
.top-menu
	position: relative
	max-width: 85%
	width: 85%
	padding: 8px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: flex-end

	&__link
		color: $greycolor
	&__li
		line-height: 50px
		white-space: nowrap
		font-weight: 700
	&__list
		transition: all 0.3s
		transform: translateX(150%)
		width: 95%
		margin: 0
		padding: 0
		list-style: none
		position: absolute
		right: 65px
		top: 8px
		background: transparent
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-around
	&__list-active
		transform: translateX(0%)

	&__blockicon
		width: 50px
		height: 50px
		margin-right: 5px
		border-radius: 50%
		box-shadow: 0 0px 15px rgba(0,0,0,0.2)
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		text-decoration: none 
		background-color: #fff
	&__icon
		display: block
		margin-left: 10px
		width: 15px
		height: 1px
		background-color: #60606e
		&:after
			transition: all .3s
			content: ''
			display: block
			width: 23px
			height: 1px
			margin-top: 12px
			background-color: #60606e
		&:before
			transition: all .3s
			content: ''
			display: block
			width: 31px
			height: 1px
			margin-top: -6px
			background-color: #60606e
	&__icon-active
		height: 0
		&:after
			transition: all .3s
			margin: 0
			width: 30px
			height: 2px
			transform: rotate(135deg)
			margin-top: -2px
		&:before
			transition: all .3s
			margin: 0
			width: 30px
			height: 2px
			transform: rotate(-135deg)

.section
	text-align: center
	&__titleblock
		width: 100%
		margin: 0 auto
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
	&__subtitle
		display: block
		margin: 0 auto
		max-width: 717px
	&__title
		margin: 0
		margin-bottom: 29px
		font-size: 30px
		font-weight: 900
		text-transform: uppercase
		position: relative
		display: inline-block
		&:after
			content: ''
			display: block
			width: 68px
			height: 21px
			position: absolute
			top: 50%
			left: 0
			z-index: -1
			background-color: $greencolor

.newsletter
	width: 100%
	background-color: $greencolor
	display: block
	&__wrap
		padding-top: 50px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-between
	&__blocktitle
		display: inline-block 
		vertical-align: top
		max-width: 490px
		width: 45%
	&__title
		color: #fff
		font-size: 30px
		font-weight: 700
		margin: 0
		margin-bottom: 29px
		text-transform: uppercase
	&__btn
		background-color: #fff
		font-weight: 700
		text-transform: uppercase
		border: none
		padding: 22px 32px 18px
		margin-bottom: 25px
		color: $greencolor
	&__formitem
		display: inline-block
		max-width: 560px
		width: 51%
		margin-bottom: 50px
		background-color: #fff
		padding: 20px 25px
	&__formtitle
		margin: 0
		margin-bottom: 18px
		font-size: 24px
		font-weight: 700
		text-transform: uppercase
	&__formsubtitle
		font-size: 16px
		font-weight: 400
		color: #999999
	&__form
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		align-items: center
		margin: 29px auto 0
		&-email
			display: block
			width: 80%
			height: 50px
			max-height: 50px
			color: #cdcdcd
			font-size: 12px
			font-weight: 700
			text-transform: uppercase
			border: 1px solid rgba(0, 0, 0, 0.3)
			border-right: none
			margin: 0
			padding-left: 20px
			opacity: 0.5
		&-submit
			display: block
			height: 50px
			max-height: 50px
			background-color: $greencolor
			font-weight: 700
			text-transform: uppercase
			color: #ffffff
			border: none
			padding: 15px 45px
			margin: 0

.btn
	text-transform: uppercase
	border: none

.btn-read
	color: #fff
	font-size: 14px
	background-color: $greencolor

.footer
	width: 100%
	height: 120px
	display: block
	&__item
		margin-top: 50px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: flex-start
	&__menu
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
	&__text
		text-align: right
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		align-items: flex-end
	&__text-item
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		align-items: flex-end
	&__copyrate
		display: block
		text-transform: uppercase
		color: #9a9a9a
		margin-bottom: 29px
	&__social
		display: block
		width: 175px
		height: 16px
		margin-bottom: 29px
	&__link
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		margin-right: 18px
		position: relative
		white-space: nowrap
		color: #9a9a9a
	&__after
		padding-right: 19px
		&:after
			content: ''
			display: inline-block
			width: 4px
			height: 1px
			background-color: $greycolor
			position: absolute
			right: 0
			top: 50%
			transform: translateY(-50%)
//-----------------------------------------Home-----------------------------------------------------------

.homepage__header
	background-image: url(../img/hero-bg.png)
	background-repeat: no-repeat
	background-size: cover

.hero
	width: 100%
	&__wrap
		width: 100%
	&__blocktitle
		margin: 0 auto
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
	&__item
		margin: 0 auto
		margin-top: 160px
		background-color: $greencolor
		padding: 10px 21px 7px
		font-size: 18px
		font-weight: 700
		text-transform: uppercase
		display: block
	&__title
		margin: 0 auto
		display: block
		border: 10px solid $greycolor
		padding: 22px 35px
		font-size: 48px
		text-transform: uppercase
		font-weight: 700
		margin-bottom: 30px
		white-space: nowrap
	&__subtitle
		margin: 0 auto
		display: block
		font-size: 16px
		max-width: 537px
		text-align: center

.portfolio
	&__title
		margin-top: 150px
	&__subtitle
		margin-bottom: 100px
	&__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row

.history
	display: block
	width: 100%
	&__wrap
		margin: auto
		margin-top: 155px
		width: 100%
	&__item
		margin-right: 5%
		max-width: 458px
		width: 45%
		float: left
		display: inline-block
	&__img
		width: 100%
		height: 100%
	&__content
		display: inline-block
		max-width: 300px
		width: 45%
		margin: auto
		max-width: 558px
	&__title
		margin: 29px 0 28px 0
		font-size: 30px
		font-weight: 900
		text-transform: uppercase
		color: $greycolor
		position: relative
		z-index: 1
		&:before
			content: ''
			display: block
			width: 67px
			height: 21px
			background-color: $greencolor
			position: absolute
			bottom: -4px
			left: 0
			z-index: -1
	&__text
		font-size: 16px
		line-height: 30px
	&__btn
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
	&__button
		font-weight: 700
		padding: 20px 39px 19px

.category
	width: 100%
	max-width: 200px
	text-align: left
	margin-top: 15px
	&__title
		margin: 0
		margin-bottom: 40px
		font-size: 30px
		font-weight: 700
		text-transform: uppercase
	&__listbtn
		border: none
		background-color: transparent
		font-weight: 700
		text-transform: uppercase
		font-family: Montserrat
		&:focus
			outline: none
	&__list
		margin: 0
		padding: 0
		list-style: none
		&-active
			background-color: $greencolor
			padding: 10px 20px
			color: #ffffff
			margin-left: -20px
	&__li
		text-align: left
		margin-bottom: 25px
	&__content
		width: 100%
		max-width: 940px
		max-height: 1200px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-flow: column wrap
		overflow: hidden
	&__item
		margin: 15px
		&:nth-child(3n+1)  
			order: 1
		&:nth-child(3n+2) 
			order: 2
		&:nth-child(3n)   
			order: 3

.whychoose
	width: 100%
	margin: 0 auto
	&__row
		width: 100%
		margin: 0 auto
	&__title
		margin: 120px auto 20px
	&__content
		width: 100%
		margin-top: 100px
		position: relative
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: flex-end
		flex-wrap: wrap-reverse
	&__link
		text-decoration: none
		text-transform: uppercase
		color: #999999
	&__li
		margin-bottom: 15px
	&__itemimg
		margin: 0 auto
		margin-bottom: 20px
	&__item
		margin: 0 auto
		text-align: left
		max-width: 600px
		width: 100%
		display: inline-block
		&:last-child
			margin-left: 70px
	&__itemtitle
		margin: 0
		margin-bottom: 28px
		font-size: 18px
		font-weight: 700
		text-transform: uppercase
	&__list
		margin-top: 0
		list-style: none
		margin-bottom: 60px
		display: inline-block
		padding-left: 0
		&:nth-child(odd)
			margin-right: 80px
			margin-left: 45px

	&__before1
		&:before
			content: url('../img/whychoose-icon1.png')
			display: block
			width: 28px
			height: 28px
			margin-bottom: 21px
	&__before2
		&:before
			content: url('../img/whychoose-icon2.png')
			display: block
			width: 28px
			height: 28px
			margin-bottom: 19px
	&__before3
		margin-right: 60px
		&:before
			content: url('../img/whychoose-icon3.png')
			display: block
			width: 28px
			height: 28px
			margin-bottom: 19px
	&__before4
		&:before
			content: url('../img/whychoose-icon4.png')
			display: block
			width: 28px
			height: 28px
			margin-bottom: 21px


//----------------------------------------Page-------------------------------------------------------------

.page-header
	height: 500px
	background-image: url('../img/page-bg.png')
	background-repeat: no-repeat
	background-size: cover

.page-hero
	width: 100%
	&__wrap
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		height: 400px
	&__titleblock
		text-align: center
	&__title
		font-size: 36px
		font-weight: 700
		text-transform: uppercase
		line-height: 48px
		margin: 0
	&__subtitle
		font-weight: 700
		line-height: 48px
		text-transform: uppercase


//---------------------------------------About-------------------------------------------------------------

.about
	&__blocks
		width: 100%
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
	&__item
		max-width: 555px
		width: 48%
		&:first-child
			margin-right: 4%
	&__title
		display: block
		margin: 150px auto 29px
	&__subtitle
		display: block
		font-weight: 900
		text-transform: uppercase
		color: #333
		margin-bottom: 30px
	&__text
		display: block
		margin-bottom: 150px
		line-height: 30px

.benefits
	&__content
		width: 100%
		margin: 0 auto
		margin-top: 100px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
	&__item
		text-align: left
		width: 33.33%
		max-width: 360px
		margin-bottom: 50px
		&-text
			display: block
			line-height: 30px
			width: 90%
		&-title
			margin: 0
			margin-bottom: 30px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			align-items: center
			font-size: 18px
			font-weight: 700
			text-transform: uppercase
			&:before
				margin-right: 20px
		&-before1
			&:before
				content: url('../img/benefits__icon1.png')
				display: inline-block
				width: 40px
				height: 40px
				color: #fff
				background-color: $greencolor
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
		&-before2
			&:before
				content: url('../img/benefits__icon2.png')
				display: inline-block
				width: 40px
				height: 40px
				color: #fff
				background-color: $greencolor
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
		&-before3
			&:before
				content: url('../img/benefits__icon3.png')
				display: inline-block
				width: 40px
				height: 40px
				color: #fff
				background-color: $greencolor
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
		&-before4
			&:before
				content: url('../img/benefits__icon4.png')
				display: inline-block
				width: 40px
				height: 40px
				color: #fff
				background-color: $greencolor
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
		&-before5
			&:before
				content: url('../img/benefits__icon5.png')
				display: inline-block
				width: 40px
				height: 40px
				color: #fff
				background-color: $greencolor
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center
		&-before6
			&:before
				content: url('../img/benefits__icon6.png')
				display: inline-block
				width: 40px
				height: 40px
				color: #fff
				background-color: $greencolor
				display: -webkit-flex
				display: -moz-flex
				display: -ms-flex
				display: -o-flex
				display: flex
				flex-direction: column
				justify-content: center
				align-items: center

.dteam
	width: 100%
	&__title
		margin-top: 150px
	&__content
		margin-top: 100px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
	&__imgblock
		width: 25%
		max-width: 263px
		margin-bottom: 15px
		img
			width: 100%
			height: 100%

.aboutbar
	width: 100%
	padding: 50px 30px
	background-color: #efeff0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	&__text
		width: 80%
		display: block
		font-style: italic
		font-size: 18px
	&__btn
		display: block
		white-space: nowrap
		padding: 21px 38px 18px 40px
		font-weight: 700

.aboutclients
	width: 50%
	display: inline-block
	vertical-align: top
	&__row
		margin: 150px 0
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
	&__item
		margin: 0 auto
		margin-bottom: 30px
		width: 33.33%
		max-width: 165px
		height: 100px
		border: 1px solid rgba(0, 0, 0, 0.15)
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		justify-content: center
		padding: 20px 30px

.testimonials
	display: inline-block
	width: 49%
	text-align: center
	&__dots
		margin-top: 30px
		list-style: none
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: center
		padding: 0
		button
			display: none
		li
			width: 16px
			height: 5px
			margin: 2.5px
			background-color: #60606e
			&.slick-active
				width: 31px
				background-color: $greencolor
	&__row
		margin: 150px 0
	&__text
		max-width: 551px
		width: 90%
		margin: 27px auto
		display: block
		line-height: 30px
	&__btn
		padding: 9px 11px
		font-weight: 700
		color: #fff
		background-color: $greencolor
	&__avatar
		margin: 0 auto
		border-radius: 50%
		width: 83px
		height: 82px
		img
			width: 100%
			height: 100%

.testimonialsNClients
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: space-between
	flex-wrap: wrap

//----------------------------------------Contact----------------------------------------------------------

.contacts
	&__item
		width: 47%
		margin-right: 30px
	&__wrap
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: center
		flex-flow: row wrap
		margin-top: 150px
	&__object
		width: 100%
		border: 1px solid rgba(0, 0, 0, 0.1)
		padding: 20px
		margin-top: 30px
	&__message
		width: 100%
		padding: 20px
		border: 1px solid rgba(0, 0, 0, 0.1)
		font-size: 12px
		font-weight: 700
		text-transform: uppercase
		color: #ccc
		margin-top: 50px
	&__input
		border: 1px solid rgba(0, 0, 0, 0.1)
	&__input[placeholder]
		color: #ccc
		font-size: 12px
		font-weight: 700
		text-transform: uppercase
		height: 49px
		opacity: 1
		transition: opacity .3s ease
	&__name
		width: 47%
		margin-right: 24px
		padding: 20px
	&__email
		width: 47.5%
		padding: 20px
	&__submit
		display: block
		margin-top: 50px
		padding: 20px 61px
		background-color: $greencolor
		border: none
		font-weight: 700
		text-transform: uppercase
		color: #fff
	&__map
		width: 47%
		height: 715px
		border: 2px solid #ccc
	&__title
		margin: 100px auto 30px
		font-size: 18px
		font-weight: 700
		text-transform: uppercase
	&__subtitle
		color: #999
		line-height: 30px
	&__social
		display: block
		margin-bottom: 150px
	&__text
		display: block
		margin: 30px auto 
		line-height: 30px
		color: #999
		b
			display: block
			font-weight: 700

//---------------------------------------Services----------------------------------------------------------


.option
	&__wrap
		margin: 150px auto
	&__content
		width: 100%
		margin-top: 100px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-around
		flex-wrap: wrap-reverse
	&__item
		width: 45%
		display: inline-block
		img
			width: 100%
			height: 100%
	&__text
		line-height: 30px
		text-align: left
		margin: 0
	&__listblock
		width: 100%
		margin: 25px 5px 0
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
	&__list
		padding: 0
		width: 45%
		list-style: none
		text-align: left
	&__li
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		line-height: 30px
		&:before
			content: url('../img/option__icon.png')
			display: block
			width: 10px	
			height: 10px
			margin-right: 10px

.optionbenefits
	&__row
		margin: 150px auto
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-flow: row wrap
		justify-content: space-between
	&__item
		width: 23%
		text-align: center
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
	&__imgblock
		display: block
		margin: 0 auto
		width: 50px
		height: 50px
		position: relative
		&:before
			content: ''
			display: block
			width: 50px
			height: 20px
			background-color: $greencolor
			position: absolute
			bottom: 0
			left: -5px
			z-index: -1
	&__imgblock2
		height: 25px
		margin-top: 25px
		&:before
			bottom: -10px
	&__text
		display: block
		line-height: 30px
		padding: 0 15px
	&__title
		display: block
		margin: 30px auto 20px
		font-size: 18px
		font-weight: 700
		text-transform: uppercase

.rates
	&__wrap
		width: 100%

	&__corner
    position: relative
    display: block
   	&::after 
   		content: ''
   		top: -10px
   		right: 0
   		position: absolute
    	border: 10px solid transparent
    	border-right: 10px solid $greencolor

	&__content
		margin: 100px 0 150px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-flow: row wrap
		justify-content: space-between
	&__item
		width: 30%
		overflow: hidden
		border-top: 5px solid $greencolor
		max-width: 360px
		text-align: left
		&:hover
			box-shadow: 0 0 50px rgba(0, 0, 0, 0.25)
		&-wrap
			padding: 35px 32px
		&-title
			margin: 0
			font-size: 30px
			font-weight: 700
			text-transform: uppercase
		&-li
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			line-height: 36px
			&:before
				content: url('../img/option__icon.png')
				display: block
				width: 10px	
				height: 10px
				margin-right: 10px
		&-price
			display: inline-block
			margin: 17px 0 50px
			color: #fff
			background-color: $greencolor
			padding: 5px 20px
			text-transform: uppercase
			font-weight: 700
		&-btn
			border: none
			background-color: $greencolor
			color: #fff
			padding: 20px 19px
		&-list
			display: block
			list-style: none
			margin: 0
			padding: 0
			margin-bottom: 50px

//-----------------------------------------Blog------------------------------------------------------------

.blog
	width: 70%
	display: inline-block
	
.sidebar
	float: right
	width: 25%
	&__form
		margin: 150px 0 50px
		width: 100%
	&__title
		font-size: 14px
		font-weight: 700
		text-transform: uppercase
		margin-bottom: 25px
	&__search
		background-color: #ececec
		background-image: url('../img/seach_icon.png')
		font-family: 'Montserrat', sans-serif
		background-repeat: no-repeat
		background-size: 15px 15px
		background-position:  95% 50%
		border: none
		width: 100%
		height: 40px
		padding: 0 15px
		position: relative
	&-posts
		min-height: 380px
		&__content
			position: relative
		&__latest
			position: absolute
			top: 0
			left: 0
			opacity: 1
			transition: all .3s
		&__popular
			position: absolute
			top: 0
			left: 0
			opacity: 0
			transition: all .3s
		&__comments
			position: absolute
			top: 0
			left: 0
			opacity: 0
			transition: all .3s
		&__blockbtn
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			justify-content: space-around
		&__button
			background-color: transparent
			border: none
			width: 33.33%
			margin: 0
			padding: 0
			color: $greycolor
			font-size: 12px
			font-weight: 700
			font-family: Montserrat
			text-transform: uppercase
			&:after
				content: ''
				display: block
				width: 100%
				margin-top: 10px
				height: 2px
				background-color: #e6e6e6
		&-active
			&:after
				content: ''
				display: block
				width: 100%
				margin-top: 10px
				height: 2px
				background-color: $greencolor
		&__btn1
		&__btn2
		&__btn3
		&__itemlist
		&__item
			width: 100%
			max-width: 220px
			margin-bottom: 10px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			align-items: center
			&:last-child
				margin-bottom: 0
			&:first-child
				margin-top: 29px
		&__img
			display: inline-block
			width: 80px
			height: 80px
		&__text
			margin-left: 20px
		&__itemtitle
			margin: 0
			font-weight: 700
			line-height: 18px
			text-transform: uppercase
			font-size: 14px
		&__date
			color: #9a9a9a
			font-size: 12px
			margin-top: 8px
	&-categories
		margin-top: 50px
		&__list
			padding: 0
		&__li
			width: 100%
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			justify-content: space-between
			border-bottom: 1px solid #bfbfbf
		&__link
			line-height: 48px
	&-tags
		margin-top: 50px
		&__wrap
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-flow: row wrap
		&__item
			background-color: #e5e5e5
			margin: 0 5px 5px 0
			padding: 5px 9px
		&__link
			font-size: 12px
			color: #999
			font-family: Montserrat
			text-transform: uppercase
			font-weight: 700
	&-archives
		margin-top: 50px
		&__list
			padding: 0
		&__li
			width: 100%
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			justify-content: space-between
			border-bottom: 1px solid #bfbfbf
		&__link
			line-height: 48px

.post
	text-align: left
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	margin-bottom: 100px
	&:first-child
		margin-top: 150px
	&__title
		margin-top: 20px
		font-size: 18px
		font-weight: 700
		text-transform: uppercase
	&__text
		line-height: 24px
		color: #999
		margin: 0
	&__link-tofull
		margin-top: 30px
		display: flex
		flex-direction: row
		align-items: flex-start
		font-family: 'Montserrat', sans-serif
		font-weight: 700
		text-transform: uppercase
		line-height: 24px
		&:after
			content: url('../img/post__arrow.png')
			display: inline-block
			height: 8px
			width: 10px
			margin-left: 5px

	&__details
		margin-top: 30px
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row

		&-date
			margin-right: 14px
			color: #fff
			font-weight: 700
			text-transform: uppercase
			background-color: $greencolor
			padding: 9px 20px
		&-comm
			margin-right: 20px
			color: #ccc
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			align-items: center
			&:before
				content: url('../img/comment.png')
				margin-right: 9px
				display: inline-block
				width: 15px
				height: 16px
		&-like
			color: #ccc
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: row
			align-items: center
			&:before
				content: url('../img/like.png')
				margin-right: 8px
				display: inline-block
				width: 15px
				height: 16px
	&__img
		width: 100%
		max-width: 750px
		img
			width: 100%
			height: 100%

//-----------------------------------------MediaQuery------------------------------------------------------
@import '_mediaq.sass'















