@import '_basic-settings.sass'

.header
	background-image: url(../img/hero-bg.png)
	background-repeat: no-repeat
	background-size: cover
	height: 100vh
	width: 100%
	position: relative

.nav
	background-color: transparent 
	padding: 40px 0 0
	&__wrap
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: row
		justify-content: space-between
	&__icon
		&-1
			width: 31px
			height: 1px
			background-color: #60606e
			margin-bottom: 6px
		&-2
			width: 15px
			height: 1px
			background-color: #60606e
			margin-bottom: 6px
		&-3
			width: 23px
			height: 1px
			background-color: #60606e

.logo
	font-size: 18px
	font-weight: 700
	text-transform: uppercase
	color: #60606e

.hero
	&__wrap
		position: absolute
		top: 50%
		left: 50%
		transform: translateX(-50%) translateY(-100%)
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column
		align-items: center
		
	&__item
		padding: 8px 18px
		background-color: $greencolor
		font-size: 18px
		font-weight: 700
		text-transform: uppercase
		color: $greycolor
		display: inline-block
	&__title
		margin: 0
		display: inline-block
		border: 10px solid $greycolor
		padding: 22px 35px
		color: $greycolor
		font-size: 48px
		text-transform: uppercase
		font-weight: 700
		display: inline-block
		margin-bottom: 30px
	&__subtitle
		margin: 0
		color: $greycolor
		font-weight: 400
		font-size: 16px
		max-width: 537px
		text-align: center

.history
	margin-top: 55vh
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: row
	justify-content: center
	&__item
		margin-right: 120px
	&__img
		width: 458px
		height: 400px
	&__content
		max-width: 558px
	&__title
		margin: 29px 0 28px 0
		font-size: 30px
		font-weight: 700
		text-transform: uppercase
		color: $greycolor
		position: relative
		&:before
			content: ''
			display: block
			width: 67px
			height: 21px
			background-color: $greencolor
			position: absolute
			bottom: -4px
			left: 0
			z-index: -1
	&__text
		font-size: 16px
		font-weight: 400
		color: $greycolor
		line-height: 30px
		font-family: "Open Sans"
	&__btn
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		justify-content: flex-end
	&__button
		color: #fff
		font-size: 14px
		font-weight: 700
		text-transform: uppercase
		padding: 20px 39px 19px
		border: none
		background-color: $greencolor